<% pluginPaths.forEach(function(fp, index) { %>
import { IPluginType as __<%= index %> } from '<%= fp %>'
<% }) %>

interface Bootrc {
  server?: IServer
}

interface IServer {
  port?: number
}

export type IBootConfig = Bootrc | <%= pluginPaths.map((fp, index) => '__' + index).join('|') %>
